.navItem {
    color: #262626;
    font-size: 18px;
    padding: 2em 0em 0em 4em;
}

.shadow-article {
    box-shadow: -5px -5px 10px rgb(167, 166, 166);
}

.p-articles-badges {
    padding: 2em 1em 0.5em 0em;
    text-align: right;
}

.img-article {
    float: left;
    margin-right: 10px;
}

.title-article {
    padding-bottom: 1em;
    padding-top: 1em;
    font-weight: bold;
    text-align: center;
}

.p-article {
    text-align: justify;
    font-size: 18px;
    padding-right: 2em;
}

.autore {
    font-family: 'Roboto', sans-serif;
}

A:LINK {
    color: #262626;
    text-decoration: none;
}

A:VISITED {
    color: #262626;
    text-decoration: none;
}

A:HOVER {
    color: #226e41;
    text-decoration: underline;
}

A:ACTIVE {
    color: #226e41;
    text-decoration: underline;
}